    <div class="sidebar-wrapper">
    <div class="content">
        <div class="jquery-accordion-menu green" id="jquery-accordion-menu">
            <div class="jquery-accordion-menu-header">
                {{Club Name Here}}
            </div>
            <ul>
                <li class="active">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-futbol-o"></i> Events</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-image-o"></i> Gallery</a>
                    <span class="jquery-accordion-menu-label">420</span>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i>    <script type="text/javascript"
            src="https://www.simplify.com/commerce/simplify.pay.js"></script>
    <button data-sc-key="sbpb_YzNiMTM3M2ItOGNhZC00MDYzLWI3YWQtYzliZjc1NTM2ODJm"
            data-name="Archery Club Member 2017"
            data-description="Sandyford, Co. Dublin"
            data-reference="99999"
            data-amount="3000"
            data-currency="EUR"
            data-color="#3012b8">
        Buy Now
    </button></a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">Hosting</a>
                        </li>
                        <li>
                            <a href="#">Design</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Graphics</a>
                                </li>
                                <li>
                                    <a href="#">Vectors</a>
                                </li>
                                <li>
                                    <a href="#">Photoshop</a>
                                </li>
                                <li>
                                    <a href="#">Fonts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Consulting</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-newspaper-o"></i> News</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user"></i> About</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope"></i> Contact</a>
                </li>
            </ul>
            <div class="jquery-accordion-menu-footer">
                
            </div>
        </div>
    </div>
    </div>